@keyframes codex {
  0% {
    color: aliceblue;
  }
  50% {
    color: rgb(167, 255, 226);
    letter-spacing: 12px;
  }
  100% {
    color: aliceblue;
  }
}

.containerHome {
  .title {
    display: flex;
    justify-content: center;
    padding: 2em 0 15em 0;

    h1 {
      font-size: 4em;
      letter-spacing: 8px;
      transition: 2s;

      animation: codex 4s infinite;
    }
  }

  .points {
    ul {
      list-style: none;

      display: flex;
      justify-content: space-evenly;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;

        transition: 1s;
        img {
          height: 4rem;

          filter: invert(100%);
        }

        .long {
          font-size: 24pt;
        }

        p {
          padding: 10px;
          font-weight: 600;
          text-align: center;
        }
      }

      .think-img:hover {
        cursor: pointer;
        background-color: rgba(255, 167, 167, 0.377);
        transition: 1s;
        border-radius: 50%;
      }
      .create-img:hover {
        cursor: pointer;
        background-color: rgba(255, 167, 167, 0.377);
        transition: 1s;
        border-radius: 50%;
      }
      .code-img:hover {
        cursor: pointer;
        background-color: rgba(255, 167, 167, 0.377);
        transition: 1s;
        border-radius: 50%;
      }
    }
  }
}
